$umvelColor: #ff616f;

button:disabled {
  opacity: 0.65;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.btn {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  color: #fff;
}
.bg-umvel {
  background-color: $umvelColor;
}
