i {
  color: #198742;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}
::ng-deep .ant-drawer-content-wrapper {
  width: 500px !important;
}
@media (max-width: 768px) {
  .footer {
    display: none;
  }
  ::ng-deep .ant-drawer-content-wrapper {
    width: 340px !important;
  }
}
