<app-header></app-header>

<body>
  <section class="d-flex justify-content-center">
    <img
      class="img-fluid"
      src="./../../../assets/search.jpg"
      alt="Search Image"
    />
  </section>
  <section class="container mt-5">
    <div class="d-flex justify-content-center my-5">
      <nz-pagination
        [nzPageIndex]="1"
        [nzTotal]="nzTotalPages"
        (nzPageIndexChange)="onIndexChange($event)"
      ></nz-pagination>
    </div>
    <nz-spin [nzSpinning]="loading">
      <div class="row">
        <div class="col-sm-4 col-md-3 col-lg-2 mb-3" *ngFor="let user of users">
          <div class="card" (click)="showDetails(user)">
            <nz-card nzHoverable [nzCover]="coverTemplate">
              <nz-card-meta
                [nzTitle]="user.first_name + ' ' + user.last_name"
                [nzDescription]="user.email"
              ></nz-card-meta>
            </nz-card>
            <ng-template #coverTemplate>
              <img alt="avatar" [src]="user.avatar" />
            </ng-template>
          </div>
        </div>
      </div>
    </nz-spin>
  </section>
</body>

<nz-drawer
  *ngIf="currentUser"
  [nzClosable]="false"
  [nzVisible]="showDetail"
  nzPlacement="right"
  [nzTitle]="currentUser.first_name + ' ' + currentUser.last_name"
  (nzOnClose)="close()"
  [nzWidth]="500"
>
  <ng-container *nzDrawerContent>
    <img class="img-fluid mb-4" [src]="currentUser.avatar" alt="User Avatar" />
    <nz-descriptions [nzColumn]="2" nzTitle="Personal Data">
      <nz-descriptions-item nzTitle="Id" [nzSpan]="1">{{
        currentUser.id
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Account" [nzSpan]="1">{{
        currentUser.email
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="First Name" [nzSpan]="1">{{
        currentUser.first_name
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Last Name" [nzSpan]="1">{{
        currentUser.last_name
      }}</nz-descriptions-item>
    </nz-descriptions>
    <nz-divider></nz-divider>
    <p>Some contents...</p>
    <p>Some contents...</p>
  </ng-container>
</nz-drawer>
