<app-header></app-header>

<div class="container my-5" *ngIf="listUsers">
  <nz-table #basicTable [nzData]="users" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of users">
        <td>{{ data.first_name }}</td>
        <td>{{ data.last_name }}</td>
        <td>{{ data.email }}</td>
        <td>Watch details</td>
      </tr>
    </tbody>
  </nz-table>

  <nz-pagination
    (nzPageIndexChange)="onIndexChange($event)"
    class="mt-4"
    [nzPageIndex]="1"
    [nzTotal]="nzTotalPages"
  ></nz-pagination>
</div>

<app-footer></app-footer>
