<app-header></app-header>

<section class="d-flex justify-content-center">
  <img
    class="img-fluid"
    src="./../../../assets/search.jpg"
    alt="Search Image"
  />
</section>
<section class="container mt-5">
  <div class="d-flex justify-content-center my-5">
    <nz-pagination
      [nzPageIndex]="1"
      [nzTotal]="nzTotalPages"
      (nzPageIndexChange)="onIndexChange($event)"
    ></nz-pagination>
  </div>
  <nz-spin [nzSpinning]="loading">
    <div class="row">
      <div class="col-sm-4 col-md-3 col-lg-2 mb-3" *ngFor="let user of users">
        <div class="card">
          <nz-card nzHoverable [nzCover]="coverTemplate">
            <nz-card-meta
              [nzTitle]="user.first_name + user.last_name"
              [nzDescription]="user.email"
            ></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="avatar" [src]="user.avatar" />
          </ng-template>
        </div>
      </div>
    </div>
  </nz-spin>
</section>
